.progress-container {
  width: 100%;
  background-color: #eee;
}

.progress-bar {
  height: 10px;
  background-color: #4caf50;
  text-align: center;
  line-height: 30px;
  color: white;
}

.progress-container {
  display: flex;
  align-items: center;
  text-align: center;
}

.progress-container i,
.progress-container img {
  margin-right: 10px;
}

.container {
  text-align: center;
  margin: 10px;
  padding: 20px 20px;
  /* background-color: #a5ecd7; */
  width: calc(33.333% - 20px);
  box-sizing: border-box;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 15px;
  font-size: 2em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: none;
}

.container:hover {
  background-color: #ddd;
}

@media (max-width: 768px) {
  .container {
    width: calc(50% - 20px);
    padding: 20px 10px;
    font-size: 1.5em;
  }
}

@media (max-width: 480px) {
  .container {
    width: 100%;
    font-size: 1.2em;
  }
}

/* @keyframes blink {
  0% {
    opacity: 1;
    transform: scale(1);
    background-color: #ffffff;
  }

  25% {
    opacity: 0.75;
    transform: scale(1);
    background-color: #24b8a0;
  }

  50% {
    opacity: 0.5;
    transform: scale(1);
    background-color: #007bff;
  }

  75% {
    opacity: 0.75;
    transform: scale(1);
    background-color: #32de8a;
  }

  100% {
    opacity: 1;
    transform: scale(1);
    background-color: #0dcaf0; 
  }
} */

.blink {
  animation: blink 2s linear infinite;
}
